.clearfix
.jumbotron
    .btn.btn-success This is included testJade.jade
    .clearfix
    div
        |@if( 1 === 1)
        h3 This part will appear if "IF" will be trues 
        |@endif
.clearfix
|@include('pages/clients/included')