/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2016, 11:01:01 AM
    Author     : Anton
*/
.mail-icon-wrapper {
  background-color: #000;
  border-radius: 6px;
  position: fixed;
  bottom: 10px;
  right: 10px; }
  .mail-icon-wrapper:hover {
    background-color: #4d4d4d; }
  .mail-icon-wrapper .mail-icon {
    color: #fff;
    font-size: 36px;
    padding: 20px; }

.change-color {
  background-image: none !important; }
