/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2016, 11:01:01 AM
    Author     : Anton
*/

$btn-dark-bg: #000;

.mail-icon-wrapper{
    background-color: $btn-dark-bg ;
    border-radius:6px;
    position:fixed;
    bottom:10px;
    right:10px;
    &:hover{
        background-color: lighten( $btn-dark-bg , 30%);
    }
    .mail-icon{
        color: #fff;
        font-size: 36px;
        padding: 20px;
    }
    
}

.change-color{
    background-image: none !important;
    
}