/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2016, 3:43:58 PM
    Author     : Anton
*/

p{
    p{
        color: red;        
    }

}
td{
    border:1px solid #333;
    padding:10px;
} 